@import './base.css';

#app {
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  color: #6C3428;
  background-color: #CEE6F3;
}

a,
.green {
  text-decoration: none;
  color: #BA704F;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: #BA704F;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}